@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}    

:root{
    --font-primary:"Baloo Da 2", serif;
    --font-secundary:"Josefin Slab", serif ; 
    --font-action:"Mulish", serif;
} 

body{
    font-size: 16px;    
}    

nav{
    background-color: rgba(0, 0, 0, 0.637);

}

menu{
    position:absolute;
    margin-top: 0;
}

.menu-item{
    list-style:none;
    color:rgb(251, 251, 253);
    display: inline;
    margin-left: 10.5%;
    font-size: 25px;
    font-family: var(--font-action);
    cursor: pointer;
}

.menu-item:hover{
    color:rgb(7, 214, 241);
    transition: 1s;
}


header{
width: 100%;    
height:70vh;
overflow:hidden;
position: relative;
background-color: rgba(228, 225, 225, 0);
}

.banner{
    overflow: hidden;
    position:absolute;
    left:5%;
    top:10%;
    background-color: rgba(0, 0, 0, 0);
    
}    

.banner h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 4, 255);
    font-size: 4rem; 
    font-family:var(--font-primary);
    font-weight: 300;
    text-shadow:.3rem .4rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s;
    opacity:15px;
}    

.banner p{
    font-family:var(--font-secundary);
    font-size: 2rem;
    color:rgb(0, 4, 255);
    text-shadow: .2rem ,2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s;
    opacity: 15px;
}    

div.imagens img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.8;
    animation:zoom 3s;   
}    

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }    
    100%{
        transform:scale(1);
    }    
}    

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) 
    }    
    100%{
        transform: translateY(0) 
    }    
}

main{
   background-color:#000;
   width: 100%;

}

section h1{
    font-family: var(--font-primary);
    color: rgb(0, 4, 255);
    font-size: 25px;
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 0;
    margin-bottom:5 px;
} 

div.imagem img{
    width:300px;
    height: 300px;
    border-radius: 20%;
    cursor: pointer;
    margin: 9px;
    margin-left:20px;   
}

.imagem img:hover{
    transform: skew(20deg);
    transform:scale(1.2);
    transition: 1s;  
}

footer{
    background-color: #000;
}

footer h1{
    font-family: var(--font-primary);
    color: rgb(0, 4, 255);
    font-size: 25px;
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 0;
    margin-bottom:5 px;
}

footer ol li{
    color: rgb(0, 4, 255);
    font-family:var(--font-primary);
    font-size: 20px;
    display: inline;
    margin-left: 100px;
}
